{
    "OWNERS": ["1", "2"],
    "TWITCH_CLIENT_ID": "",
    "GOOGLE_API_KEY": "",
    "VOLUME": 1,
    "DEVELOPMENT": {
        "TOKEN": "",
        "ACTIVITY": "",
        "PREFIX": "",
        "DB": {
            "HOST": "",
            "USER": "",
            "DB": "",
            "PASS": ""
        }
    },
    "PRODUCTION": {
        "TOKEN": "",
        "ACTIVITY": "",
        "PREFIX": "",
        "DB": {
            "HOST": "",
            "USER": "",
            "DB": "",
            "PASS": ""
        }
    }
}