{
  "PRODUCTION": {
    "OWNER": [""],
    "TOKEN": "",
    "PREFIX": "",
    "ACTIVITY": {
      "TYPE": "",
      "TEXT": ""
    }
  },
  "DEVELOPMENT": {
    "OWNER": [""],
    "TOKEN": "",
    "PREFIX": "",
    "ACTIVITY": {
      "TYPE": "",
      "TEXT": ""
    }
  },
  "GLOBAL": {
    "GOOGLE_API_KEY": "",
    "PLAYLIST": false
  }
}