{
    "OWNER": "",
    "TWITCH_CLIENT_ID": "",
    "GOOGLE_API_KEY": "",
    "VOLUME": 1,
    "DEVELOPMENT": {
        "TOKEN": "",
        "ACTIVITY": "",
        "ACTIVITY_TYPE": "",
        "PREFIX": ""
    },
    "PRODUCTION": {
        "TOKEN": "",
        "ACTIVITY": "",
        "ACTIVITY_TYPE": "",
        "PREFIX": ""
    }
}